.frontendandbackend {
  text-align: center;
  padding: 36px; /* 40px - 10% = 36px */
  margin-top: 156px; /* 173px - 10% = 156px */
  opacity: 0;
  transform: translateY(45px); /* 50px - 10% = 45px */
  transition: opacity 1s ease-in, transform 1s ease-in;
}

/* Lägg till denna regel för när sektionen blir synlig */
.frontendandbackend.visible {
  opacity: 1;
  transform: translateY(0);
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px; /* 30px - 10% = 27px */
}

.icon img {
  width: 54px; /* 60px - 10% = 54px */
  height: 54px; /* 60px - 10% = 54px */
}

.icon p {
  margin-top: 9px; /* 10px - 10% = 9px */
  font-size: 18px; /* 20px - 10% = 18px */
}

h2 {
  font-size: 43.2px; /* 48px - 10% = 43.2px */
  color: #1a202c;
  margin-bottom: 36px; /* 40px - 10% = 36px */
}
