.frontendandbackend {
  text-align: center;
  padding: 20px;
  margin-top: 173px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
 position: relative;
 bottom: 5px;/* Mindre mellanrum mellan ikonerna */
  
}



.icon img {
  width: 30px; /* Mindre storlek på ikonerna */
  height: 30px;
}

.icon p {
  margin-top: 5px; /* Mindre mellanrum mellan ikon och text */
  font-size: 10px; /* Mindre textstorlek */
}

h2 {
  font-size: 24px;
  color: #1a202c;
  margin-bottom: 20px;
}
