body {
  margin: 0;
  overflow: hidden;
}

.comet-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cube {
  position: absolute;
  background-color: rgba(0, 0, 255, 0.5);
  animation: rotateCube linear infinite;
}

@keyframes rotateCube {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
