.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 1rem 0;
  
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(77, 128, 228, 0.8);
  color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  
}

.navbar-brand a {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: auto;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease, transform 0.3s ease;
}

.navbar-links a:hover {
  background: rgba(9, 232, 68, 0.2);
  transform: scale(1.05);
}

.navbar-flag {
  width: 32px; /* Justera storlek på flaggan */
  height: 32px;
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-flag:hover {
  transform: scale(1.1); /* Liten förstoring vid hover */
}

.navbar-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(77, 128, 228, 0.95);
    position: fixed; /* Fixerad position för att menyn inte ska röra sig vid scroll */
    top: 60px;
    left: 0;
    padding: 1rem 0;
    z-index: 9; /* Justera z-index om menyn täcker andra element */
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a {
    text-align: center;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .navbar-toggle div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
  }

  .navbar-brand a {
    color: #d3d3d3;
    text-align: center;
    width: 100%;
  }

  .navbar-flag {
    width: 32px;
    height: 32px;
    margin-left: 0; 
    cursor: pointer;
    transition: transform 0.3s ease;

}
}