.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(77, 128, 228, 0.8);
  color: #fff;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.navbar-brand a {
  color: #d3d3d3;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 2rem; /* Minskat gap från 4rem till 2rem */
  margin-left: auto;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  overflow: hidden; /* För att dölja ramlösningen tills den är synlig */
}

.navbar-links a::before,
.navbar-links a::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width 0.3s ease;
}

.navbar-links a::before {
  bottom: 0;
  left: 0;
}

.navbar-links a::after {
  top: 0;
  right: 0;
}

.navbar-links a:hover::before,
.navbar-links a:hover::after {
  width: 100%;
}





.navbar-flag {
  width: 32px; /* Minskad bredd från 32px till 24px */
  height: 32px; /* Minskad höjd från 32px till 24px */
  margin-left: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navbar-flag:hover {
  transform: scale(1.1); /* Liten förstoring vid hover */
}

.navbar-toggle {
  display: none;
}

@media (max-width: 1100px) { /* Tidigare aktivering av media query */
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(77, 128, 228, 0.95);
    position: fixed; /* Fixerad position för att menyn inte ska röra sig vid scroll */
    top: 60px;
    left: 0;
    padding: 1rem 0;
    z-index: 9; /* Justera z-index om menyn täcker andra element */
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a {
    text-align: center;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .navbar-toggle div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
  }

  .navbar-brand a {
    color: #d3d3d3;
    text-align: center;
    width: 100%;
  }

  .navbar-flag {
    width: 24px;
    height: 24px;
    margin-left: 0; 
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}

/* Media Query for iPad Devices (min-width: 768px and max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(77, 128, 228, 0.95);
    position: fixed; /* Fixerad position för att menyn inte ska röra sig vid scroll */
    top: 60px;
    left: 0;
    padding: 1rem 0;
    z-index: 9; /* Justera z-index om menyn täcker andra element */
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a {
    text-align: center;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .navbar-toggle div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
  }

  .navbar-brand a {
    color: #d3d3d3;
    text-align: center;
    width: 100%;
  }

  .navbar-flag {
    width: 24px;
    height: 24px;
    margin-left: 0; 
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}

@media (max-width: 1223px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(77, 128, 228, 0.95);
    position: fixed; /* Fixerad position för att menyn inte ska röra sig vid scroll */
    top: 60px;
    left: 0;
    padding: 1rem 0;
    z-index: 9; /* Justera z-index om menyn täcker andra element */
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links a {
    text-align: center;
    width: 100%;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    margin-left: auto;
  }

  .navbar-toggle div {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
  }

  .navbar-brand a {
    color: #d3d3d3;
    text-align: center;
    width: 100%;
  }

  .navbar-flag {
    width: 24px;
    height: 24px;
    margin-left: 0; 
    cursor: pointer;
    transition: transform 0.3s ease;
  }
}
