@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body, html {
  height: 100%;
  margin: 0;
  overflow: auto;
}

.App {
  font-family: Arial, sans-serif;
}

.Container {
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  
  background: rgba(255, 255, 255, 0.4); /* Lättare transparens för att kuberna ska vara mer synliga */
  position: fixed;
  z-index: 1;
}

/* Animerad bakgrund */
.area {
  background: #f4f4f5;
  background-image: url('/background.jpg');
  background: rgba(255, 255, 255, 0.9); 
  background-size: cover; /* Täcker hela ytan */
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: fixed; /* Gör bakgrunden fast */
  z-index: -1; /* Placera den bakom allt innehåll */
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #5383b3; /* Mörkblå kub med hög transparens */
  animation: animateHorizontal 25s linear infinite;
  left: -150px; /* Starta utanför skärmen på vänster sida */
  z-index: 10;
}

.circles li:nth-child(1) {
  top: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  top: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  top: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  top: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  top: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  top: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}





/* Uppdaterad keyframes för att flytta från vänster till höger */
@keyframes animateHorizontal {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateX(100vw) rotate(720deg); /* Flyttar kuberna från vänster till höger */
    opacity: 0;
    border-radius: 50%;
  }
}
