/* General section styling */
.service-container {
  border-radius: 13.5px; /* Minskad med 10% */

  display: flex;
  flex-direction: column;
  max-width: 720px; /* Minskad med 10% */
  width: 65.7%; /* Minskad med 10% */
  overflow: hidden;
  margin: 0 auto;
  padding: 36px; /* Minskad med 10% */
  align-items: center;
}

.image-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px; /* Minskad med 10% */
}

.animated-image {
  max-width: 90%; /* Minskad med 10% */
  height: auto;
}

.text-column {
  background: #fff;
  text-align: center;
  color: #082d59ff;
  margin-top: -39.6px; /* Minskad med 10% */
  border-radius: 55.8px; /* Minskad med 10% */
  padding: 17.1px; /* Minskad med 10% */
  width: 56.7%; /* Minskad med 10% */
}

.text-column h2 {
  font-size: 1.8rem; /* Minskad med 10% */
  font-weight: 700;
  margin-bottom: 13.5px; /* Minskad med 10% */
  color: #082d59;
}

.service-description {
  font-size: 1.08rem; /* Minskad med 10% */
  margin-bottom: 13.5px; /* Minskad med 10% */
  color: #082d59;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 13.5px; /* Minskad med 10% */
}

.old-price {
  font-size: 1.26rem; /* Minskad med 10% */
  text-decoration: line-through;
  color: #ddd;
  margin-right: 9px; /* Minskad med 10% */
  color: #082d59;
}

.new-price {
  font-size: 1.8rem; /* Minskad med 10% */
  font-weight: 700;
  color: #082d59;
}

.price-unit {
  font-size: 1.08rem; /* Minskad med 10% */
  color: #082d59;
}

.limited-time {
  font-size: 0.9rem; /* Minskad med 10% */
  margin-bottom: 18px; /* Minskad med 10% */
}

.contact-button {
  display: inline-block;
  background-color: #0056b3;
  color: #ffffff;
  padding: 9px 18px; /* Minskad med 10% */
  font-size: 0.9rem; /* Minskad med 10% */
  font-weight: 600;
  border-radius: 5.4px; /* Minskad med 10% */
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-button:hover {
  background-color: #003f8a;
  transform: scale(1.05);
}
