/* Initialt dölja sektionen */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding: 2rem;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20%;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in, transform 1s ease-out;
}

/* När sektionen är synlig */
.about-container.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Styla texten */
.about-container p {
  max-width: 350px;
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 20px;
  color: rgb(5, 5, 46);
}

/* Styla bilden */
.about-image {
  width: 300px; /* Justera bredden efter behov */
  height: auto; /* Behåller bildens aspektförhållande */
  border-radius: 10px;
}
